# Python compiled files
*.pyc
__pycache__/
*.pyo
*.pyd

# Django stuff
*.sqlite3
db.sqlite3
*.log

# Environment
venv/
env/
ENV/
*.env

# IDEs
.vscode/
.idea/

# Static files collected
/staticfiles/

# OS files
.DS_Store
Thumbs.db
